.features-section {
  background-color: rgb(244, 248, 251);
}

.features-container {
  padding: 2rem 0;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.feature-cards {
  justify-content: space-around;
}

.feature-card {
  width: 25vw;
  background-color: #fff;
  padding: 1rem 1rem;
}

.feature-icon {
  height: 65px;
  margin-bottom: 0.5em;
  color: #0e3d2c;
}

.feature-heading {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Manrope, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}
