.intro-container {
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}

.intro-container__content-left {
  min-width: 600px;
  width: 55%;
}

.intro-container__content-right {
  width: 40%;
  flex-direction: column;
  align-items: flex-end;
}

.intro-container__content-left h1 {
  font-size: 60px;
  color: var(--primary-color);
  margin: 1rem 0;
  line-height: 1.2;
  font-weight: 800;
}

.intro-container__content-left p {
  margin: 3rem 0;
}

.intro-container__content-right__item:nth-child(2) {
  margin-top: 7rem;
}

.circle {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background-color: var(--primary-color-light);
}

.circle__content {
  position: relative;
  top: 1.5em;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.4;
  text-align: center;
}

.circle__content--span {
  font-size: 3rem;
}

.intro-container__content-right__item ul {
  list-style: none;
}

.list-item {
  color: #0e3d2c;
  font-size: 2rem;
  font-weight: 600;
  align-items: center;
}

.list-item img {
  margin-right: 1rem;
}

/* Common Classses */
.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
}

.primary-color-light {
  color: var(--primary-color-light);
}
